{% extends "base.html.twig" %} {% block title %}Gône Green - Ethical fashion collaborative blog{% endblock title %} {% block body %}

<body class="body">
    <div class="row logBody justify-content-center align-items-center mt-5">
        <form method="post" class="col-8 col-md-4">
            {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}
            <div class="login col-12 text-center">
                <h1 class="h3 mb-1">SIGN IN</h1>
                <a href="{{path('register')}}">
                    <p>or click to register</p>
                </a>
                <label for="inputUsername" class="sr-only">Username</label>
                <input type="text" value="{{ last_username }}" name="username" id="inputUsername" class="form-control" placeholder="Username" required autofocus>
                <label for="inputPassword" class="sr-only">Password</label>
                <input type="password" name="password" id="inputPassword" class="form-control mt-2" placeholder="Password" required>

                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}"> {# Uncomment this section and add a remember_me option below your firewall to activate remember me functionality. See https://symfony.com/doc/current/security/remember_me.html

                <div class="checkbox mb-3">
                    <label>
                <input type="checkbox" name="_remember_me"> Remember me
            </label>
                </div>
                #}
                <button class="btnSubmit col-12 mt-3 pt-1 " type="submit">
        Sign in
    </button>
            </div>
        </form>
    </div>
</body>
{% endblock body %}