{% extends "base.html.twig" %} {% block page_style %}{% endblock %} {% block title %} Register {% endblock title %} {% block body %}

<body class="body">
    <div class="row justify-content-center register text-left">
        <div class="col-12 mt-4 align-items-center">
            {#
            <div class="col-12 col-md-6 text-right">
                <img src="images/monstera.png" alt="monstera_img" width="200px">
            </div> #}
            <div class="text-center">
                <h1 class="col-12 mt-4 mb-1">JOIN OUR COLLABORATIVE PLATFORM</h1>
                {{form_errors(form.password.first)}} {{form_errors(form.password.second)}}
                <p class="login_link mb-2"><a href="{{path('app_login')}}">Already a member ?</a></p> {{form_start(form)}} {{ form_widget(form.username, {'attr': {'class': 'input_username', 'placeholder':'Username'}}) }} {{ form_widget(form.email, {'attr': {'class': 'input_email
                mt-2', 'placeholder':'Email'}}) }} {{ form_widget(form.password.first, {'attr': {'class': 'input mt-2', 'placeholder':'Password'}}) }} {{ form_widget(form.password.second, {'attr': {'class': 'input mt-2', 'placeholder':'Confirm password'}})
                }}
                <br>
                <button class="btn_register pl-3 pr-3 pt-1 pb-1 mt-3 mb-3">Register</button> {{form_end(form)}}
            </div>
        </div>
    </div>
</body>

{% endblock body %}