nav {
    font-family: 'Quicksand', sans-serif;
    background-color: #fbf0ec;
}

.body {
    background-color: #fbf0ec;
}

#all {
    background-color: #fbf0ec;
}

h1,
ul li a {
    color: #013035;
}

.navbar h1 {
    font-size: 1em;
    font-family: 'Playfair Display', serif;
}

#dropdown {
    background-color: #fbf0ec;
    border: 1px solid #d3d3d3;
}

.user_name {
    border-bottom: 1px solid #d3d3d3;
}

.description {
    font-family: 'Quicksand', sans-serif;
}

.latest {
    color: #013035;
    font-family: 'Playfair Display', serif;
}

.category {
    font-size: 0.6em;
    margin: 10px;
    color: grey;
    text-transform: uppercase;
}

.articleTitle {
    font-size: 1.5em;
    font-family: 'Playfair Display', serif;
}

.articleExtract {
    font-size: 0.7em;
    font-family: 'Quicksand', sans-serif;
}

.readMore {
    color: black;
    font-size: 0.8em;
    font-family: 'Quicksand', sans-serif;
    text-decoration: underline;
}

.img-fluid {
    object-fit: cover;
}


/*FORMULAIRE*/

.blogForm {
    background-color: #fbf0ec;
}

.form {
    border: 0px solid lightgray;
    background-color: #fbf0ec;
}


/*Contribute*/

.underline {
    height: 1px;
    background-color: lightgrey;
}

.navigation ul li {
    list-style-type: none;
    display: inline-block;
    font-family: 'Quicksand', sans-serif;
}


/*footer*/

.footer {
    height: 30vh;
    color: #013035;
    font-family: 'Quicksand', sans-serif;
    background-color: #fbf0ec;
}

.formFooter {
    height: 10vh;
    color: #013035;
    font-family: 'Quicksand', sans-serif;
}

.bottommenu {
    list-style-type: none;
    font-size: 0.8em;
    padding-left: 5px;
    padding-right: 0px;
}


/*NEWSLETTER*/

.newsletter {
    border: 0px solid lightgrey;
    background-color: #fbf0ec;
}


/* FORM*/

.form {
    display: flex;
    flex-direction: column;
}

label {
    font-family: 'Quicksand', sans-serif;
}

textarea {
    border: 1px solid lightgray;
    border-radius: 5px;
    background-color: #fbf0ec;
    color: #6d6d6d;
    height: 150px;
}

.form .row .textarea .form {
    resize: none;
}

.postBtn {
    border: 1px solid #013035;
    border-radius: 50px;
    color: #f6f6f6;
    background-color: #013035;
    padding: 3px 15px 3px 15px;
}

.postBtn:hover {
    border: 1px solid #013035;
    color: #013035;
    background-color: #f6f6f6;
}

.subscribeBtn {
    border: 1px solid lightgray;
    border-radius: 50px;
    color: #013035;
    background-color: #f6f6f6;
    padding: 1px 10px 1px 10px;
}

.subscribeBtn:hover {
    border: 1px solid #013035;
    border-radius: 50px;
    color: lightgray;
    background-color: #013035;
    padding: 1px 10px 1px 10px;
}

.publishAlert {
    font-weight: bold;
    font-family: 'Quicksand', sans-serif;
    color: #76a887;
}


/*CONTRIBUTION BUTTON*/

.contribute {
    border: 1px solid #013035;
    background-color: #013035;
    color: white;
    border-radius: 50px;
    padding: 10px 15px;
    font-family: 'Quicksand', sans-serif;
    font-size: 0.8em;
    font-weight: bold;
}

.contribute:hover {
    border: 1px solid #013035;
    background-color: white;
    color: #013035;
    text-decoration: none;
}


/*POST*/

.blogPost {
    background-color: #fbf0ec;
}

.blogPost h2 {
    font-size: 3em;
}

.articlesContent {
    font-size: 1em;
    font-family: 'Quicksand', sans-serif;
}

.delete {
    border: 1px solid #013035;
    border-radius: 50px;
    color: #f6f6f6;
    background-color: #013035;
    padding: 3px 15px 3px 15px;
}

.delete:hover {
    border: 1px solid #013035;
    color: #013035;
    background-color: #f6f6f6;
}

.category_post {
    font-size: 0.6em;
    margin: 10px;
    color: grey;
    text-transform: uppercase;
}

.articleTitle_post {
    font-size: 6vw;
    font-family: 'Playfair Display', serif;
}

.share {
    font-weight: bold;
}

.form_title p {
    color: grey;
}

#form_post label {
    font-weight: bold;
    color: #11565e;
}


/* LOGIN*/

.logBody {
    background-color: #fbf0ec;
}

.btnSubmit {
    border: 1px solid #013035;
    border-radius: 50px;
    background-color: #013035;
    color: white;
}


/*LOGIN*/

.login_icon {
    color: #013035;
}

.login_icon:hover {
    text-decoration: none;
}

.login h1 {
    font-family: 'Quicksand', 'sans-serif';
    font-weight: bold;
}

.login a {
    font-family: 'Quicksand', 'sans-serif';
    color: #6e6e6e;
}

.login a:hover {
    font-family: 'Quicksand', 'sans-serif';
    color: #013035;
}

.login button {
    text-transform: uppercase;
    font-weight: bold;
}

.login input {
    background-color: transparent;
    color: rgb(77, 77, 77);
    border-radius: 50px;
}

.login input:active {
    background-color: #fbf0ec;
    color: rgb(77, 77, 77);
    border: 1px solid #013035;
}

.login input:hover {
    background-color: #fbf0ec;
    color: rgb(77, 77, 77);
    border: 1px solid #013035;
}


/*REGISTER*/

.register h1 {
    font-family: 'Quicksand', 'sans-serif';
    font-size: 2em;
    color: #013035;
}

.input_username {
    border-bottom: 1px solid #000;
}

.btn_register {
    border: 1px solid rgb(255, 185, 228);
    border-radius: 50px;
    background-color: transparent;
    color: rgb(252, 150, 213);
    text-transform: uppercase;
    font-size: 0.8em;
    font-family: 'Quicksand', 'sans-serif';
    font-weight: bold;
}

.btn_register:hover {
    background-color: rgb(255, 185, 228);
    color: white;
}

.register input {
    border-radius: 50px;
    background-color: #fbf0ec;
    border: 1px solid rgb(255, 185, 228);
    padding-left: 10px;
    padding-right: 10px;
    font-family: 'Quicksand', 'sans-serif';
    color: rgb(122, 122, 122);
}

.register a {
    margin-bottom: 40px;
    color: rgb(131, 130, 130);
}

.register a:hover {
    margin-bottom: 40px;
    color: #777777;
}

.login_link {
    font-family: 'Quicksand', 'sans-serif';
}