<!DOCTYPE html>
<html id="all" lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{asset('style.css')}}">
    <!-- FONTS -->
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Quicksand&display=swap" rel="stylesheet">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>{% block title %}{% endblock title %}</title>
</head>
<!--NAVIGATION-->
<nav class="navbar navbar-expand-lg fixed">
    <a href="{{path('index')}}" class="title text-decoration-none text-center d-flex">
        <H1>GÔNE GREEN</H1>
        <img src="{{asset('images/apricot.png')}}" alt="apricot_icon" height="20px">
    </a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="{{path('index')}}">HOME</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{path('blogform')}}">CONTRIBUTE</a>
            </li>
        </ul>
        <div class="nav-item dropdown">
            {% if app.user %} {% if app.user %}
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <img src="{{asset('images/profile.png')}}" alt="login" height="25px">
            </a>
            <div id="dropdown" class="dropdown-menu" aria-labelledby="navbarDropdown">
                <p class="user_name pt-1 pb-3 pl-2 pr-5">Hello {{ app.user.username }} !</p>{% endif %}
                <a class="login_icon pt-1 pb-1 pl-2 pr-5" href="{{ path('app_logout') }}">Sign out</a>
            </div>
            {% else %}
            <a class="nav-link" href="{{ path('app_login') }}" aria-haspopup="true" aria-expanded="false">
                <img src="{{asset('images/profile.png')}}" alt="login" height="25px">
            </a>{% endif %}
        </div>
    </div>

</nav>

<body>

    {% block body %} {% endblock body %}</body> {% embed "footer.html.twig" %} {% endembed %}