{% extends "base.html.twig" %} {% block title %}Gône Green - Ethical fashion collaborative blog{% endblock title %} {% block body %}

<body class="body">

    <div class="container-fluid form">
        <DIV class="COL-12 form_title text-center description">
            <h2 class="share">Share with the community</h2>
            <p>Advices or poetry about sustainability</p>

        </DIV>
        <div class="row justify-content-center align-items-center">
            {# {% if article %}
            <p class="publishAlert">You're article has been published <img src="https://img.icons8.com/officexs/16/000000/potted-plant.png"></p>

            {% endif %}#}
            <div class="col-12 underline mt-4">

            </div>
        </div>
        <div class="row">

            <form class="col-12" method="post" id="form_post">

                {{form_start(formArticle)}}
                <div class=" mt-3">
                    <label for="title">Title</label>
                    <br> {{ form_widget(formArticle.title, {'attr': {'id': 'title', 'class':'col-12 form', 'placeholder':'Enter your title'}}) }}
                    <div class="col-12 underline">
                    </div>
                </div>
                <div class=" mt-3">
                    <label for="author">Author</label> {{ form_widget(formArticle.author, {'attr': {'id': 'author','class':'col-12 form', 'placeholder':'Enter your name'}}) }}
                    <div class="col-12 underline">
                    </div>
                </div>
                <div class="mt-3">
                    <label for="author">Add picture</label> {{ form_widget(formArticle.imgPath, {'attr': {'id': 'imgPath', 'class':'col-12 form','placeholder':'Enter your url'}}) }}
                    <div class="col-12 underline">
                    </div>
                </div>
                <div class="textarea mt-3">
                    <label for="author">Your article</label> {{ form_widget(formArticle.content, {'attr': {'id': 'content','class':'col-12 form', 'placeholder':'Write your article'}}) }}
                    <div class="col-12 underline">
                    </div>
                </div>
                {#
                <div class="col-12 mt-3">

                </div>
                <div class="form-group">
                    <div class="col-12 mt-3">
                        <label for="title">Title</label>
                        <br>
                        <input type="text" name="title" id="title" class="form" placeholder="Enter your title">
                        <div class="col-12 underline">
                        </div>
                    </div>

                    <div class="col-12 mt-3">
                        <label for="author">Author</label>
                        <br>
                        <input type="text" name="author" id="author" class="form" placeholder="Enter your name">
                        <div class="col-12 underline">
                        </div>
                    </div>
                    <div class="col-12 upload mt-3">
                        <label for="imgPath">Add Picture</label>
                        <input type="text" name="imgPath" id="imgPath" class="form" placeholder="Enter an url">
                        <div class="col-12 underline">
                        </div>
                    </div>
                    <div class="col-12 mt-3">
                        <label for="content">Your article</label>
                        <br>
                        <textarea name="content" id="content" cols="30" rows="10" class="formContent"></textarea>
                    </div> #} {#
                    <div class="col-12 mt-3 text-center"> #} {#
                    </div> #}
                    <div class="col-12 text-center mt-4">
                        <button class="postBtn" type="submit">Post</button>
                    </div>
                    {{form_end(formArticle)}}
                </div>
            </form>

        </div>
</body>
{% endblock body %}