{% extends "base.html.twig" %} {% block title %}Gône Green - Ethical fashion collaborative blog{% endblock title %} {% block body %}

<body class="body">

    <div class="container-fluid form">
        <DIV class="COL-12 form_title text-center description">
            <h2 class="share">Modify an article</h2>
            <p>Advices or poetry about sustainability</p>

        </DIV>
        <div class="row justify-content-center align-items-center beforefooter">
            <div class="col-12 underline mt-4">

            </div>
        </div>
        <div class="col-12">
            {{ form_start(editArticle)}} {{ form_widget(editArticle)}}
            <a href=""> <button class="btn btn-primary" type="submit">Edit article</button></a>
            {{ form_end(editArticle)}}
        </div>
</body>
{% endblock body %}