<!--FOOTER-->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<div class="row justify-content-center align-items-center beforefooter">
    <div class="col-12 underline mt-4">
    </div>
</div>

<div class="row">
    <div class="col-12 footer d-flex text-left pt-5">
        <div class="col-6">
            <ul class="bottommenu">
                <li class="bottom-nav">
                    <h6>SITEMAP</h6>
                </li>
                <li class="bottom-nav">
                    <a href="index.html">HOME</a>
                </li>
                <li class="bottom-nav">
                    <a href="">ABOUT</a>
                </li>
                <li class="bottom-nav mt-3">
                    <h6>RESSOURCES</h6>
                </li>
                <li class="bottom-nav">
                    <a href="https://www.fashionrevolution.org/about/">Fashionrevolution</a>
                </li>
                <li>
                    <a href="https://www.arts.ac.uk/colleges/central-saint-martins/collaborations/csm-public/planet/sustainable-fashion-manifesto-lvmh">Central Saint Martins school</a>
                </li>
                <li>
                    <a href="https://sustainable-fashion.com/">Sustainablefashion.com</a>
                </li>
            </ul>
        </div>
        <div class="col-6">
            <ul class="bottommenu">
                <li class="bottom-nav">
                    <h6>NEWSLETTER</h6>
                </li>
                <li class="bottom-nav">
                    <input type="text" name="newsletter" class="newsletter" placeholder="your e-mail adress">
                    <div class="col-12 col-md-6 underline d-flex">
                    </div>
                    <button class="subscribeBtn mt-2">subscribe</button>
                </li>
                <li class="bottom-nav mt-4">
                    <h6>CONTACT US</h6>
                </li>
                <li class="bottom-nav">
                    <p>contact@gonegreen.com</p>
                </li>
            </ul>

        </div>
    </div>
</div>


</div>