{% extends "base.html.twig" %} {% block title %}Gône Green - Ethical fashion collaborative blog{% endblock title %} {% block body %}

<body class="body">

    <div class="container-fluid">
        <div class="row justify-content-center align-items-center mb-5">
            <div class="col-12 text-center m-5 description">
                <h3>ETHICAL & SUSTAINABLE FASHION</h3>
                <p>Collaborative blogging feed</p>
            </div>

            {% if all is not empty %} {% for article in all %}

            <div class="col-12 col-md-3 article1 text-center mt-2">
                <a href="{{path('article_id', {id:article.id})}}">
                    <img src="{{article.imgPath}}" class="img-fluid" alt="">

                </a>
                <h4 class="category">By {{article.author}}</h4>
                <h3 class="articleTitle">{{article.title}}</h3>

                <a href="{{path('article_id', {id:article.id})}}" class="readMore">
                    <p class="card-text">{{ article.content[:60] ~ '...' }}</p>
                    <p>VOIR PLUS</p>
                </a>
                <div class="col-12 align-items-center">
                    <a href="">
                        <img src="images/fb.png" width="20px" alt="">
                    </a>
                    <a href="">
                        <img src="images/twt.png" width="20px" class="icons ml-3" alt="">
                    </a>
                    <a href="">
                        <img src="images/pint.png" width="20px" class="icons ml-3" alt="">
                    </a>
                </div>
            </div>
            {% endfor %} {% endif %}


        </div>

        <div class="col-12 latest text-center mt-3 mb-3">
            <div id="formlink" class="formlink mt-5 mb-3">
                <a href="{{path('blogform')}}" class="contribute">CONTRIBUTE +</a>
            </div>
        </div>
</body>{% endblock body %}