{% extends "base.html.twig" %} {% block title %}Gône Green - Ethical fashion collaborative blog{% endblock title %} {% block body %}

<body class="body">
    <div class="container-fluid">
        <div class="row d-flex">
            <div class="col-12 text-center mb-5">
                <h2 class="articleTitle_post">{{article.title}}</h2>
                <h4 class="category_post">written by {{article.author}}</h4>

            </div>
            <div class="col-lg-2"></div>
            <div class="col-12 col-md-12 col-lg-4">
                <img src="{{article.imgPath}}" class="img-fluid col-12" id="imgPath" alt="">
            </div>
            <div class="col-12 col-md-12 col-lg-4">
                <p class="col-12 articlesContent text-left pt-5">{{article.content}}</p>
            </div>
            <div class="col-lg-2"></div>
        </div>
        {% if app.user %}
        <div class="col-12 text-center mt-5">
            <a href="{{path('delete', {id:article.id})}}"><button type="submit" class="delete" name="delete">delete</button></a>
        </div>
        {#
        <div class="col-12 text-center mt-5">
            <a href="{{path('edit', {id:article.id})}}">edit</a>
        </div> #} {% endif %}
    </div>
</body>
{% endblock body %}